body{
background-image: url(texture.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

h1{
font-size: 4em;
      text-align: center;

      background: linear-gradient(270deg, white, hotpink, black);

      -webkit-background-clip: text;
      background-clip: text;

      -webkit-text-fill-color: transparent;
      color: transparent;
}

p{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
text-align: center;
color: black;
font-size: 26px;
}

a{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
color: black;
font-size: 26px;
}

img {
    width: 300px;
      height: 300px;
      border-radius: 50%;
      object-fit: cover;      
      display: block;
      margin: 20px auto; }

footer{text-align: center;}