body{
margin: 0;
height: 100vh; 
background-image: url(texture.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

h1{
font-size: 4em;
      text-align: center;

      background: linear-gradient(270deg, white, hotpink, black);

      -webkit-background-clip: text;
      background-clip: text;

      -webkit-text-fill-color: transparent;
      color: transparent;
}

p{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
color: black;
font-size: 26px;
text-align: center;
font-weight: bold;

  text-align: center; 
  margin-top: 50px;

  display: center;
  background-color:rgb(255, 192, 250);
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: 2px solid #rgb(214, 110, 206);    

}

a{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
color: black;
font-size: 26px;
font-weight: bold;
}



footer{text-align: center;}